.custom-card {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.02);
}

.custom-image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f9f9f9;
}

.custom-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.custom-card-description {
  font-size: 0.9rem;
  color: #666;
}

.custom-card-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745;
}

.custom-card-buttons {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.custom-button {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button.primary {
  background-color: #007bff;
  color: #fff;
}

.custom-button.primary:hover {
  background-color: #0056b3;
}

.custom-button.danger {
  background-color: #dc3545;
  color: #fff;
}

.custom-button.danger:hover {
  background-color: #c82333;
}

.custom-button.agregar {
  background-color: #8B0000;
  color: #fff;
}

.custom-button.agregar:hover {
  background-color: #6b0000;
}


.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity-display {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.custom-button.decrement,
.custom-button.increment {
  background-color: #8B0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.custom-button.decrement:hover,
.custom-button.increment:hover {
  background-color: #6b0000;
}

